/* index.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
